---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Skills from '../../components/Skills.astro';
import Experience from '../../components/Experience.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<BaseLayout title="Cafa.dev - Federico Cafagna">
	<Navbar />
	<main>
		<Hero />
		<div class="section-divider"></div>
		<About />
		<div class="section-divider"></div>
		<Skills />
		<div class="section-divider"></div>
		<Experience />
		<div class="section-divider"></div>
		<Contact />
	</main>
	<Footer />
</BaseLayout>
